p {
	  background-color: black; 
	  color: yellow;
	  text-decoration: underline; 
	  font-weight:bold; 
	  font-size:medium;
	  text-align: left	  
	  text-wrap:	
	  }
h1 {
  text-shadow: 2px 2px yellow;
}
h3:before {
    content: ' \03B3';
}
/*Small gamma symbol will display*/